* {
	box-sizing: border-box;
}

body {
	background-image: url("../images/arches.jpg");
/*	font-size: 18px;
	line-height: 34px;*/
	font-family: 'Comic Sans MS', 'Comic Sans MS5', cursive, Helvetica, sans-serif;
	color: #994d00;
}

button, p, input {
	font-family: 'Comic Sans MS', 'Comic Sans MS5', cursive, Helvetica, sans-serif;
	color: #994d00;
	font-size: 25px;
	margin: 10px;
}

h1 {
	font-family: 'Comic Sans MS', 'Comic Sans MS5', cursive, Helvetica, sans-serif;
	color: white;
	font-size: 45px;
	text-align: left;
}

p {
	/*text-decoration-line: white;*/
	color: white;
	/*background-color: white;*/
}